
/* #resume-form{
    display: none;
} */

#resume-template{
    display: none;
}

.background-property{
    background-color:wheat;
}

.background{
    background-color: white;
}

body{
    background-color: antiquewhite;
}

.text-type{
    color:rgb(26, 3, 3);
}